.page4 {
    height: 1500.97px;


    &__container {
        margin-top: 75px;
    }

    &__imgTextBox {
        display: flex;
        justify-content: center;
        column-gap: 66px;
        margin-top: 81px;
        padding-bottom: 15px;

        @media screen and (max-width:1200px) { 
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }

    }

    &__TextHeading {
        height: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #B99BB6;
    }


    &__Text {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #5F4D5D;
    }

    &__TextBox1 {
        padding-top: 128px;
        text-align: left;
        
    }

    &__TextBox2 {
        padding-top: 128px;
        text-align: left;
        order:1;

        @media screen and (max-width:1200px) { 
           order:0;
           padding-top: 0;
         }
        
    }

    &__TextContainer {
        height: 120px;
        width: 481px;
    }

    &__Text1P2 {
        font-family: Cormorant Garamond;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        height: 60px;
        width: 461px;
    }

    &__TextContainer2 {
        height: 60px;
        width: 434px;

    }

    &__TextContainer3 {
        height: 90px;
        width: 424px;

    }


    &__TextContainer4 {
        height: 90px;
        width: 459px;
        text-align: left;
        
    }

    &__imgTextBox2 {
        display: flex;
        justify-content: center;
       
        column-gap: 66px;
    }
}